@font-face {
    font-family: "FuturaBookBT";
    src: url("/fonts/futura-bk/FutuBk.ttf");
    /*font-style: normal;
    font-weight: 400;*/
    font-display: swap;
}
@font-face {
    font-family: "FuturaBookBT";
    src: url("/fonts/futura-bk/FuturaBookBT.ttf");
    /*font-style: medium;
    font-weight: 500;*/
    font-display: swap;
}

@font-face {
    font-family: "PeachyRose";
    src: url("/fonts/peachy-rose/Peachy Rose.ttf");
    /*font-style: medium;
    font-weight: 400;*/
    font-display: swap;
}


body {
    font-family: FuturaBookBT;
}

h1 {
    font-family: PeachyRose;
    font-weight: 600;
}